/target
/.idea
/examples/python_client/.idea
*.ipynb
*__pycache__*

!/assets/.gitkeep
!/assets/logs/.gitkeep
!/assets/AppSet.iconset/.gitkeep
!/assets/AppSet.iconset
!/assets/AppSet.icns

/assets
/assets/logs

/WindowsInstaller/icon
/WindowsInstaller/output

CypherStyleSpec.md
/AppleInstaller/build/
/AppleInstaller/output/
