/target
/.idea
!/assets/.gitkeep
!/assets/logs/.gitkeep
!/assets/AppSet.iconset/.gitkeep
!/assets/AppSet.iconset
!/assets/AppSet.icns

/assets
/assets/logs

/WindowsInstaller/icon
/WindowsInstaller/output

CypherStyleSpec.md
